template(name="Exploration")
    //-
        The corporation's workforce
        Hire new settlers, fire, manage them

    .exploration.panel.component(style="display:none")

        .panel-heading
            .pull-left Exploration

        .panel-body

            with exploration
                div #{explorers} free explorers
                div #{explorersBusy} busy explorers
                div #{experience} experience

            .party
                h3 Preparation
                .flow
                    .col-xs-6
                        input(type="number", value="0" step="1", min="0" max=exploration.explorers).party-explorers
                    .col-xs-6
                        .btn.add-explorer +
                        .btn.rem-explorer -
                p Party
                .flow
                    .btn.invite Invite player
                .flow
                    each party
                        .player
                            span=name
                p Equipment
                .equipments
                    with equipment
                        if weapon
                            .equipment.taken(slot="weapon")
                                span.equipment-icon.rpg-Icon6_98
                                div!=weapon.el
                        else
                            .equipment(slot="weapon")
                                span.rpg-Icon6_98
                                div Weapon
                        if armor
                            .equipment.taken(slot="armor")
                                span.equipment-icon.rpg-Icon2_67
                                div!=armor.el
                        else
                            .equipment(slot="armor")
                                span.rpg-Icon2_67
                                div Armor
                        if utility
                            .equipment.taken(slot="utility")
                                span.equipment-icon.rpg-Icon6_100
                                div!=utility.el
                        else
                            .equipment(slot="utility")
                                span.rpg-Icon6_100
                                div Utility
                        if rations
                            .equipment.taken(slot="rations")
                                span.equipment-icon.rpg-Icon2_15
                                div!=rations.el
                        else
                            .equipment(slot="rations")
                                span.rpg-Icon2_15
                                div Rations
            .quests
                each quests
                    .quest
                        .inner
                            .pull-left
                                p: b= title
                                div: i Danger level #{danger}
                                div: i #{time} sec
                            .pull-right.qstatus(questid=id)
                                if active
                                    .btn.countdown.complete-quest(questid=id)
                                else
                                    .btn.start-quest(questid=id) Start

                    .hiddenend(questid=id)= end
            script.
                var ends = $(".hiddenend[questid]");

                ends.each(function () {
                    var id = $(this).attr("questid");
                    var end = +$(".hiddenend[questid='"+id+"']").text();

                    switch (end) {
                        case 0: return;
                    }
                    end = new Date(end);

                    var myCounter = new Countdown({  
                        end: end,
                        onUpdateStatus: function (sec) { $(".countdown[questid='"+id+"']").html(sec); }, // callback for each second
                        onCounterEnd: function () { $(".countdown[questid='"+id+"']").html("Completed"); } // final action
                    });

                    myCounter.start();
                });


template(name="ExplorationEquipment")
    //-
        The corporation's workforce
        Hire new settlers, fire, manage them

    .exploration-equipment.panel.component(style="display:none")

        .panel-heading
            .pull-left Choose equipment

        .panel-body
            .btn.back Back
            .equipment-list
                each equipments
                    .equipment-choice(itemid=id)
                        span!= el


template(name="ExplorationInvite")
    //-
        The corporation's workforce
        Hire new settlers, fire, manage them

    .exploration-invite.panel.component(style="display:none")

        .panel-heading
            .pull-left Invite player

        .panel-body
            .btn.back Back
            
            input(id="search-player" type="text", placeholder="player name")
            
            each results
                .result-player
                    span #{mayor} of #{name}
                    .btn.send-invite Send invitation