template(name="Mining")
    //-
        Screen for mining resources

    .mining.panel.component(style="display:none")

        .panel-heading
            .pull-left Mining
            .pull-right
                .row
                    .close-btn(view="mining") X
        .panel-body
            .row.full-width
                .col-xs-4
                    p Overall efficiency: 58%
                    p Active workers:
                    ul
                        each workers
                            if free
                                li [________]
                            else
                                li
                                    span= name
                                    .btn.remove-miner(employeeid=id) Remove
                        if needsWorker
                            li: .btn.add-worker Add workers
                                


                .col-xs-4
                    .efficiency-spark

                    .workers-spark

                    .iron-spark

                .col-xs-4
                    .row
                        h4 Mined amount
                        div Iron: #{mined.iron}
                        div Gold: #{mined.gold}
                        div Copper: #{mined.copper}
                    .row
                        .btn.release-minerals Release minerals
            hr

            .row.full-width
                each miners
                    .miner.col-xs-6
                        .miner-inner.row.full-width
                            .miner-img.col-xs-3

                            .miner-info.col-xs-9
                                div Mining rate: #{props.miningRate} / hour
                                div Cost: $ #{props.cost} / hour
                                div Workers: #{props.maxWorkers}