template(name="Settlers")
    //-
        The corporation's workforce
        Hire new settlers, fire, manage them

    .settlers.panel.component(style="display:none")

        .panel-heading
            .pull-left Settlers

        .panel-body
            .pop-stats
                with settlers
                    p Total: #{total}
                    p Unemployed: #{unemployed}
                    p Employed: #{employed}
                each workers
                    p 
                        div #{name}: #{number}
                        .btn.add-worker(workerid=id) Add
                        .btn.rem-worker(workerid=id) Remove

                
