template(name="Employees")
    //-
        The corporation's workforce
        Hire new employees, fire, manage them

    .employees.panel.component(style="display:none")

        .panel-heading
            .pull-left Employees
            .pull-right
                .row
                    .close-btn(view="employees") X
        .panel-body
            ul.nav.nav-tabs
                li.active: a(href="#employees-employees" data-toggle="tab") Overview
                li: a(href="#employees-list" data-toggle="tab") List
                li: a(href="#employees-hire" data-toggle="tab") Hire

            .tab-content
                #employees-employees.tab-pane.active
                    p Number of Employees: 100
                    p Average happiness: 84.5 %

                    .corporate-policies
                        h3 Policies

                        ul
                            li
                                span Free lunch
                                input.pull-right(type="checkbox")
                            li
                                span Free Healthcare
                                input.pull-right(type="checkbox")
                            li
                                span Free Dental
                                input.pull-right(type="checkbox")
                            

                #employees-list.tab-pane
                    .employee-filter

                    .employee-table.full-width
                                
                        ul
                            each employees
                                li.employee
                                    div= name
                                    div= type
                                    div= state
                                    div $ #{wage} / day
                                    div: .btn.btn-sm.btn-primary.get-details Details


                #employees-hire.tab-pane
                    table.hire-table.full-width
                        thead
                            tr
                                th Disposition
                                th Wage
                                
                        tbody
                            each available
                                tr
                                    td= type
                                    td $ #{wage} / hour
                                    td: .btn.btn-sm.btn-primary.hire(workerid=workerId) Hire
