template(name="finance")
    //-
        Internal economy status
        Cashflow over time
        Ownershipm, Results, Income, expences

    .finance.panel.drag-component.resizable(style="display:none")
        .panel-heading
            .pull-left Finance
            .pull-right
                .row
                    .close-btn(view="finance") X

        .panel-body
            ul.nav.nav-tabs
                li.active: a(href="#finance-overview" data-toggle="tab") Overview
                li: a(href="#finance-transactions" data-toggle="tab") Transactions
                li: a(href="#finance-breakdown" data-toggle="tab") Breakdown
                li: a#finance-graphs-btn(href="#finance-graphs" data-toggle="tab") Graphs

            .tab-content
                #finance-overview.tab-pane.active
                    .time-filter
                        button.btnx.btnx-1.btnx-1f Hour
                        button.btnx.btnx-1.btnx-1f Day
                        button.btnx.btnx-1.btnx-1f Week
                        button.btnx.btnx-1.btnx-1f Month
                        button.btnx.btnx-1.btnx-1f Year

                    .row
                        .income.col-xs-6
                            h2 Income
                            
                            h4: a(data-toggle="collapse" data-target="#sales") Sales +$ 789.46
                            #sales.collapse.pad-left
                                p Wool: $ 300.35
                                p Steel: $ 879.3
                                p Toys: $ 33333.33
                            
                            h4: a(data-toggle="collapse" data-target="#interest") Interest +$ 6547
                            #interest.collapse.pad-left
                                p Bank: $ 300.35
                                p Loans: $ 879.3
                                p Property: $7566.3
                            
                            h4: a(data-toggle="collapse" data-target="#grants") Grants +$ 6547
                            #grants.collapse.pad-left
                                p Bank: $ 300.35
                                p Loans: $ 879.3
                                p Property: $7566.3
                            
                            h4: a(data-toggle="collapse" data-target="#services") Services +$ 6547
                            #services.collapse.pad-left
                                p Bank: $ 300.35
                                p Loans: $ 879.3
                                p Property: $7566.3
                            
                        .expences.col-xs-6
                            h2 Expences
                            p Salaries: $ 0
                            p Loan Interest: $ 0
                            p Rent: $ 0
                            p Politics: $ 0
                    hr

                    .row
                        h3 Result: +$ 99857.58


                #finance-transactions.tab-pane
                    p
                        span Search:
                        input

                    .row
                        .col-xs-2.col-xs-offset-1 Description
                        .col-xs-2 Sender
                        .col-xs-2 Receiver
                        .col-xs-2 Amount
                        .col-xs-2 Time

                    .row.transaction-list
                        ul
                            each transactions
                                li.transaction.row
                                    .col-xs-3= description
                                    .col-xs-2= sender.name
                                    .col-xs-2= receiver.name
                                    .col-xs-2= amount
                                    .col-xs-3= formatDate                 

                #finance-breakdown.tab-pane
                    #accordion.panel-group
                        .panel.panel-default
                            .panel-heading
                                h4.panel-title
                                    a(data-toggle="collapse" data-parent="#accordion" href="#collapseOne")
                                        | Sales
                            #collapseOne.panel-collapse.collapse
                                .panel-body
                                    p Wool: $ 300.35
                                    p Steel: $ 879.3
                                    p Toys: $ 33333.33
                        .panel.panel-default
                            .panel-heading
                                h4.panel-title
                                    a(data-toggle="collapse" data-parent="#accordion" href="#collapseTwo")
                                        | Interest
                            #collapseTwo.panel-collapse.collapse
                                .panel-body
                                    p Loans: $ 300.35
                                    p Bank: $ 879.3




                #finance-graphs.tab-pane
                    span.result-spark