
template(name="TownStatus")

    .town-status
        with town
            h4 #{mayor} of #{name}
            div: i Level #{level}
            div $ #{treasury}
            div Pop: #{settlers.total}



template(name="Town")
    //-
        Brief overview of town info.
    
    .town.panel.component
        
        .panel-heading
            .pull-left Town

        .panel-body
            #town-hall.town-hall
                with town
                    .general-info
                        .inner
                            h4= name
                            p Treasury: $ #{treasury}
                            p Mayor: #{currentUser.mayor}
                            p Population: #{settlers.total}

                    .upgrade-info
                        .current-level
                            h4 Current
                            p: i Town level #{level}
                            div Population cap: #{popCap}
                            div Building cap: #{buildCap}
                        hr
                        unless maxLevel
                            .next-level
                                h4 Next
                                p: i Town level #{nextLevel}
                                div Population cap: #{nextPopCap}
                                div Building cap: #{nextBuildCap}
                                
                                .upgrade-cost
                                    each upgradeCosts
                                        div #{name} x#{qty}
                                .btn.upgrade-town Upgrade

            hr

            h3 Your town

            .buildings
                each buildings
                    .building
                        .inner
                            .info
                                h4= name
                                p:i Level #{level}
                                p= desc
                                p Workers: #{activeWorkers} / #{maxWorkers}
                                
                                if resource
                                    p
                                        span(generation=id) 0
                                        span #{resource} generated.
                                    .btn.release-resources(buildingid=id) Collect
                            .upgrade-info
                                unless maxLevel
                                    p
                                        each upgradeCost
                                            span #{name} x#{qty}
                                            br
                                    .btn.upgrade-building(buildingid=id) Upgrade
            
            hr

            h3 Build
            .unbuilt
                each unbuilt
                    .building
                        .inner
                            .info
                                h4= name
                                p= desc
                            .upgrade-info
                                p
                                    each upgradeCost
                                        span #{name} x#{qty}
                                        br
                                .btn.build-building(buildingid=id) Build