
template(name="TownStatus")

    .town-status
        with town
            h4 #{mayor} of #{name}
            div: i Level #{buildings.towncenter.level}
            div $ #{treasury}
            div Pop: #{settlers.total}



template(name="Town")
    //-
        Brief overview of town info.
    
    .town.panel.component
        
        .panel-heading
            .pull-left Town

        .panel-body
            #town-hall.town-hall
                with town
                    .general-info
                        .inner
                            h4= name
                            div
                                i Town level 
                                span #{buildings.towncenter.level}
                            .prop
                                b Treasury: $
                                span #{treasury}
                            .prop
                                b Mayor:
                                span #{currentUser.mayor}
                            .prop 
                                b Population:
                                span #{settlers.total}
                            .prop
                                b Population cap:
                                span #{popCap}
                            .prop
                                b Building cap:
                                span #{buildCap}
                    .upgrade-info
                        unless maxLevel
                            .pull-left
                                .upgrade-cost
                                    each upgradeCosts
                                        div
                                            span!= el
                                            span x#{qty}
                                .btn.upgrade-town Upgrade
                            .next-level.pull-right
                                p: i Town level #{nextLevel}
                                div Population cap: #{nextPopCap}
                                div Building cap: #{nextBuildCap}
                                

            hr

            h3.headline Your town

            .buildings
                each buildings
                    .building
                        .inner.box
                            .butns
                                

                            h4= name
                            .info
                                p:i Level #{level}
                                p= desc
                                p Workers: #{activeWorkers} / #{maxWorkers}
                                
                                if resource
                                    p
                                        span(generation=id) 0
                                        span #{resource} generated.
                                    .btn.release-resources(buildingid=id) Collect
                            unless maxLevel
                                .upgrade-info
                                    each upgradeCost
                                        span!= el 
                                        span x#{qty}

                                        .btn.upgrade-building.pull-right(buildingid=id) Upgrade
                                    
            
            hr

            h3.headline Build
            .unbuilt
                each unbuilt
                    .building
                        .inner.box
                            .info
                                h4= name
                                p= desc

                            .build-info
                                each upgradeCost
                                    span!= el
                                    span x#{qty}
                                .btn.build-building.pull-right(buildingid=id) Build