
template(name="TownStatus")

    .town-status
        with town
            h4 #{mayor} of #{name}
            div: i Level #{buildings.towncenter.level}
            div $ #{treasury}
            div Pop: #{settlers.total}



template(name="Town")
    //-
        Brief overview of town info.
    
    .town.panel.component
        
        .panel-heading
            .pull-left Town

        .panel-body
            #town-hall.town-hall
                with town
                    .general-info
                        .inner
                            h4= name
                            div
                                i Town level 
                                span #{buildings.towncenter.level}
                            .prop
                                b Treasury: $
                                span #{treasury}
                            .prop
                                b Mayor:
                                span #{currentUser.mayor}
                            .prop 
                                b Population:
                                span #{settlers.total}
                            .prop
                                b Population cap:
                                span #{popCap}
                            .prop
                                b Building cap:
                                span #{buildCap}
                    .administration
                        with town
                            .flow
                                .col-xs-2: b Taxes:
                                .col-xs-4 #{administration.taxRate}%
                                .col-xs-4 $#{taxIncome}/h
                            .flow
                                input(
                                    id="tax-rate"
                                    type="range",
                                    min="0",
                                    max="100",
                                    step="1",
                                    value="#{administration.taxRate}").tax-rate
                    .settler-info
                        with settlers
                            .flow
                                .col-xs-2: b Health:
                                .col-xs-10
                                    .flow
                                        .progress-bar(role="progressbar", aria-valuenow=health, aria-valuemin="0", aria-valuemax="100", style="width:#{health}%")
                                            span #{health}%
                            .flow
                                .col-xs-2: b Loyalty:
                                .col-xs-10
                                    .flow
                                        .progress-bar(role="progressbar", aria-valuenow=loyalty, aria-valuemin="0", aria-valuemax="100", style="width:#{loyalty}%")
                                            span #{loyalty}%
                            .flow
                                .col-xs-2: b Equality:
                                .col-xs-10
                                    .flow
                                        .progress-bar(role="progressbar", aria-valuenow=equality, aria-valuemin="0", aria-valuemax="100", style="width:#{equality}%")
                                            span #{equality}%
                                    

            hr

            h3.headline Your town

            .buildings
                each buildings
                    .building
                        .inner.box
                            .butns
                                

                            .building-title(title=desc data-toggle='tooltip')= name
                            .info
                                p:i Level #{level}
                                p Workers: #{activeWorkers} / #{maxWorkers}
                                
                                if resource
                                    p
                                        span(generation=id) 0
                                        span #{resource} generated.
                                    .btn.release-resources(buildingid=id) Collect
                            unless maxLevel
                                .upgrade-info
                                    each upgradeCost
                                        span!= el 
                                        span x#{qty}

                                    .btn.upgrade-building.pull-right(buildingid=id) Upgrade
                                    
            
            hr

            h3.headline Build
            .unbuilt
                each unbuilt
                    .building
                        .inner.box
                            .info
                                .building-title(title=desc data-toggle='tooltip')= name

                            .build-info
                                each upgradeCost
                                    span!= el
                                    span x#{qty}
                                .btn.build-building.pull-right(buildingid=id) Build


    script.
        $(function () {
            $('[data-toggle="tooltip"]').tooltip({ animation:false });
        });