template(name="Trade")
    //-
        The grand market
        Buy and sell products of all kinds
        Get statistics of transactions

    .market.panel.component(style="display:none")
        .panel-heading
            .pull-left Market

        .panel-body

            ul.nav.nav-tabs
                li.active: a(href="#trade-materials" data-toggle="tab") Materials
                li: a(href="#trade-food" data-toggle="tab") Food
                li: a(href="#trade-luxury" data-toggle="tab") Luxury

            .tab-content
                #trade-materials.tab-pane.active
                    each items.material
                        .item(itemid=id)
                            span: b= name
                            div Buying for $ #{buyPrice}
                            div Selling for $ #{sellPrice}
                            input.amount(placeholder="Amount")
                            .btn.buy Buy
                            .btn.sell Sell
                #trade-food.tab-pane
                    each items.food
                        .item(itemid=id)
                            span: b= name
                            div Buying for $ #{buyPrice}
                            div Selling for $ #{sellPrice}
                            input.amount(placeholder="Amount")
                            .btn.buy Buy
                            .btn.sell Sell
                #trade-luxury.tab-pane
                    each items.luxury
                        .item(itemid=id)
                            span: b= name
                            div Buying for $ #{buyPrice}
                            div Selling for $ #{sellPrice}
                            input.amount(placeholder="Amount")
                            .btn.buy Buy
                            .btn.sell Sell







template(name="MarketDialog")
    //-
        Dialog for accepting trades in the market

    .market-order-dialog.panel.drag-component(style="display:none")
        .panel-heading Order
        .panel-body
            with order
                if buyOrder
                    h3 Buy Order
                else
                    h3 Sell Order

                p Contract issuer: #{owner.name}
                p Price each: #{price}
                p Amount: #{amount}

                h4 Total: #{totalPrice}

                .row
                    button.accept.btn.pull-left
                        | Accept Trade

                    button.cancel.btn.pull-left
                        | Cancel

            



template(name="MarketCreateOrder")
    //-
        Dialog for accepting trades in the market

    .market-create-order-dialog.panel.drag-component(style="display:none")
        .panel-heading
            .pull-left Create Order
            .pull-right
                .row
                    .close-btn(view="market-create-order-dialog") X

        .panel-body
            with order

                .row
                    label Item
                    p= item.name
                .row
                    .row
                        .col-xs-8
                            label Buy Order
                        .col-xs-4
                            span.pill-radio Buy Order
                            input(type="radio" id="radio1" name="orderType" value="buy" checked="checked")
                            span.pill-radio Buy Order
                    .row
                        .col-xs-8
                            label Sell Order
                        .col-xs-4
                            span.pill-radio Sell Order
                            input(type="radio" id="radio2" name="orderType" value="sell")
                            span.pill-radio Sell Order
                .row
                    label Price each
                    p: input(name="orderPrice" type="number" value="1" min="0" step="1")
                .row
                    label Quantity
                    p: input(name="orderQuantity" type="number" value="1" min="0" step="1")
                .row
                    h4#totalPrice Total Price: #{totalPrice}


                .row
                    button.create.btn.pull-left
                        | Create order

                    button.cancel.btn.pull-left
                        | Cancel

            



