template(name="market")
    //-
        The grand market
        Buy and sell products of all kinds
        Get statistics of transactions
        View corporation orders

    .market.panel.drag-component.resizable(style="display:none")
        .panel-heading
            .pull-left Market
            .pull-right
                .row
                    .close-btn(view="market") X
        .panel-body
            .row
                .market-filter.col-sm-3

                    p Volantis District

                    ul.filter-list
                        each items
                            li= name

                            ul.sub-filter-list(style="display:none")
                                each itemList
                                    li(item="#{itemKey}")= itemName

                .orders.col-sm-9
                    if item
                        .row.full-width.item-detail
                            with item
                                .col-xs-1
                                    button.buy.btnx.btnx-1.btnx-1f(itemId="#{key}")
                                        | Buy
                                .col-xs-5
                                    h3.text-center= name
                                .col-xs-6
                                    .item-info
                                        p Weight: #{props.weight}
                                        p Type: #{type}
                        .row.full-width
                            .col-xs-6
                                table.buy.orders
                                    caption Buy Orders
                                    thead
                                        tr
                                            th Corporation
                                            th Price
                                            th Quantity
                                    tbody
                                        each buyOrders
                                            tr.order(order="#{_id}")
                                                td= owner.name
                                                td= price
                                                td= quantity
                            .col-xs-6
                                table.sell.orders
                                    caption Sell Orders
                                    thead
                                        tr
                                            th Corporation
                                            th Price
                                            th Quantity
                                    tbody
                                        each sellOrders
                                            tr.order(order="#{_id}")
                                                td= owner.name
                                                td= price
                                                td= quantity




template(name="marketDialog")
    //-
        Dialog for accepting trades in the market

    .market-order-dialog.panel.drag-component(style="display:none")
        .panel-heading Order
        .panel-body
            with order
                if buyOrder
                    h3 Buy Order
                else
                    h3 Sell Order

                p Contract issuer: #{owner.name}
                p Price each: #{price}
                p Amount: #{amount}

                h4 Total: #{totalPrice}

                .row
                    button.accept.btn.btn-success.pull-left
                        | Accept Trade

                    button.cancel.btn.btn-warning.pull-left
                        | Cancel

            



template(name="marketCreateOrder")
    //-
        Dialog for accepting trades in the market

    .market-create-order-dialog.panel.drag-component(style="display:none")
        .panel-heading
            .pull-left Create Order
            .pull-right
                .row
                    .close-btn(view="market-create-order-dialog") X

        .panel-body
            with order

                .row
                    label Item
                    p= item.name
                .row
                    .row
                        .col-xs-8
                            label Buy Order
                        .col-xs-4
                            span.pill-radio Buy Order
                            input(type="radio" id="radio1" name="orderType" value="buy" checked="checked")
                            span.pill-radio Buy Order
                    .row
                        .col-xs-8
                            label Sell Order
                        .col-xs-4
                            span.pill-radio Sell Order
                            input(type="radio" id="radio2" name="orderType" value="sell")
                            span.pill-radio Sell Order
                .row
                    label Price each
                    p: input(name="orderPrice" type="number" value="1" min="0" step="1")
                .row
                    label Quantity
                    p: input(name="orderQuantity" type="number" value="1" min="0" step="1")
                .row
                    h4#totalPrice Total Price: #{totalPrice}


                .row
                    button.create.btn.btn-success.pull-left
                        | Create order

                    button.cancel.btn.btn-warning.pull-left
                        | Cancel

            



